/**
 * {{ properCase name }}
 */

/**
 * External dependencies
 */
import React, { PureComponent } from 'react';

/**
 * Internal dependencies
 */

class {{ properCase name }} extends PureComponent {
  render() {
    return (
      <div className="{{dashCase name}}-component">
        {{ properCase name }}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
