/**
 * {{ properCase name }}
 */

/**
 * External dependencies
 */
import React, { Component } from 'react';

/**
 * Internal dependencies
 */
import './style.less';

class {{ properCase name }} extends Component {
  render() {
    return (
      <div className="{{dashCase name}}-component">
        {{ properCase name }}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
