/**
 * {{ properCase name }}
 */

/**
 * External dependencies
 */
import React from 'react';

/**
 * Internal dependencies
 */

function {{ properCase name }}() {
  return (
    <div className="{{dashCase name}}-component">
      {{ properCase name }}
    </div>
  );
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
